#welcome-dialog .intro {
  display: flex;
  align-items: center;
  justify-content: center;
}

#welcome-dialog {
  list-style: none;
  margin: 0 auto;
  position: absolute;
  top: 30%;
  left: 40%;
}

#welcome-dialog li {
  display: flex;
  align-items: center;
  padding-top: 30px;
}

#welcome-dialog .description {
  padding-left: 10px;
}

#welcome-dialog .icon {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

.record {
  margin: 0;
  border: 0;
}
