.tests {
  max-height: 100%;
  min-width: 100%;
  overflow-y: auto;
  transition: max-height 300ms linear;
  list-style: none;
  display: table;
}

.tests_div {
  overflow-x: auto;
  transition: max-height 300ms linear;
  max-height: 0;
  flex-grow: 1;
}

.tests_div.active {
  max-height: 100%;
  transition: max-height 300ms linear;
}

.tests.active {
  max-height: 100%;
}

.tests li {
  margin: 7px 0;
  display: block;
}
