.tests {
  max-height: 0;
  overflow-x: hidden;
  overflow-y: auto;
  transition: max-height 300ms linear;
  list-style: none;
}

.tests.active {
  max-height: 100%;
  transition: max-height 300ms linear;
}

.tests li {
  margin: 7px 0;
}
