.menu.content .buttons li a {
  display: block;
  cursor: pointer;
  padding: 10px 20px;
}

.menu.content .buttons li a:hover {
  background-color: #F3F3F3;
}

.menu.content .buttons li hr {
  margin-left: 20px;
}
