.test {
  display: block;
  padding: 5px 8px;
  border-radius: 2px;
  background-color: #FFF;
}

.test > * {
  vertical-align: middle;
}

.test:hover {
  background-color: #F3F3F3
}

.test.selected {
  background-color: #E3F2FF;
}

.test.changed:after {
  content: "*";
}

.test.dragging {
  display: none;
}
