.test {
  display: flex;
  padding: 5px 0 5px 15px;
  background-color: #FFF;
  align-items: center;
}

.test > span {
  flex-grow: 1;
  word-break: break-all;
}

.test > button {
  opacity: 0;
  margin: 0;
}

.test:hover {
  background-color: #F3F3F3
}

.test:hover > button {
  opacity: 1;
}

.test.selected {
  background-color: #E3F2FF;
}

.test.changed:after {
  content: "*";
}
