@font-face {
  font-family: 'selenium-ide';
  src:
    url('../assets/fonts/selenium-ide.ttf?2o2c1h') format('truetype'),
    url('../assets/fonts/selenium-ide.svg?2o2c1h#selenium-ide') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="si-"],
[class*=" si-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'selenium-ide', sans-serif !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.si-new::before {
  content: "\e91e";
}

.si-record {
  position: relative;
}

.si-record::before {
  content: "\e920";
}

.si-record::after {
  content: "\e91f";
  position: absolute;
  left: 0;
  top: 0;
}

.si-download::before {
  content: "\e901";
}

.si-filter::before {
  content: "\e915";
}

.si-disable-breakpoints::before {
  content: "\e91b";
}

.si-break-exceptions::before {
  content: "\e91c";
}

.si-stop::before {
  content: "\e91d";
}

.si-open::before {
  content: "\e905";
}

.si-pencil::before {
  content: "\e919";
}

.si-step-down::before {
  content: "\e917";
}

.si-caret-wide::before {
  content: "\e918";
}

.si-gauge-1::before {
  content: "\e90c";
}

.si-gauge-2::before {
  content: "\e90e";
}

.si-gauge-3::before {
  content: "\e912";
}

.si-gauge-4::before {
  content: "\e913";
}

.si-gauge-5::before {
  content: "\e914";
}

.si-search::before {
  content: "\e916";
}

.si-caret::before {
  content: "\e900";
}

.si-check::before {
  content: "\e910";
}

.si-add::before {
  content: "\e90d";
}

.si-clear::before {
  content: "\e91a";
}

.si-delete::before {
  content: "\e902";
}

.si-step-into::before {
  content: "\e903";
}

.si-info::before {
  content: "\e904";
}

.si-more::before {
  content: "\e911";
}

.si-play-all::before {
  content: "\e906";
}

.si-play::before {
  content: "\e907";
}

.si-pause::before {
  content: "\e908";
}

.si-remove::before {
  content: "\e909";
}

.si-code::before {
  content: "\e90a";
}

.si-save::before {
  content: "\e90b";
}

.si-select::before {
  content: "\e90f";
}
