.log {
  margin: 7px 0;
}

.log span:first-child {
  text-align: right;
  padding-right: 5px;
  display: inline-block;
  width: 20px;
}

.log.notice {
  font-weight: bold;
}

.log.success {
  color: #23843D;
}

.log.error {
  color: #E80600;
}
