.log {
  margin: 7px 0;
}

.log .index {
  display: inline-block;
  width: 20px;
}

.log.notice {
  font-weight: bold;
}

.log .message:after {
  padding: 0 5px;
}

.log.success .message:after {
  content: "Success";
  color: #23843D;
}

.log.error .message:after {
  content: "Failed:";
  color: #E80600;
}

.log .error-message {
  padding-right: 20px;
  color: #E80600;
}
