.project.hover {
  background-color: red;
}

.project a {
  display: block;
  padding: 7px 0;
}

.project a .title {
  padding: 0 12px;
  font-size: 16px;
  vertical-align: middle;
}

.project a img {
  vertical-align: middle;
}
