.alert-content {
  position: absolute;
  top: 20%;
  left: 50%;
  outline: 0;
  -webkit-overflow-scrolling: touch;
}

.alert {
  position: relative;
  left: -50%;
  background: white;
  border: 1px solid #DEDEDE;
  border-radius: 4px;
  box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
  padding: 20px;
  opacity: 0;
  transform: scale(0, 0);
  transition: opacity 287ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 191ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.alert h2,p {
  text-align: center;
}

.alert h2 {
  text-transform: capitalize;
}

.alert .buttons {
  float: right;
}
