.tabbar.vertical {
  margin-bottom: 29px;
}

.tabbar.vertical > div {
  display: flex;
  max-height: 29px;
  position: absolute;
  right: 0;
  left: 0;
  background-color: #F3F3F3;
  overflow-y: hidden;
  transition: max-height 80ms linear;
}

.tabbar.vertical ul li {
  display: block;
}

.tabbar.vertical a {
  color: #505050;
  flex-grow: 1;
  display: flex;
  text-align: left;
}

.tabbar.vertical a:hover, .tabbar.vertical a:focus {
  color: #0c0c0c;
  background-color: #F3F3F3;
}

.tabbar.vertical a:after {
  font-family: 'selenium-ide' !important;
  color: rgb(163, 163, 163);
  transform: rotate(90deg);
  font-size: 8px;
  margin: auto 10px;
  height: 10px;
  content: "\e900";
}

.tabbar.vertical a:hover:after, .tabbar.vertical a:focus:after {
  color: #0c0c0c;
}
