.tabbar.vertical {
  margin-bottom: 29px;
}

.tabbar.vertical > div {
  display: flex;
  max-height: 29px;
  position: absolute;
  right: 0;
  left: 0;
  background-color: #F3F3F3;
  overflow-y: hidden;
  transition: max-height 80ms linear;
}

.tabbar.vertical ul li {
  display: block;
}

.tabbar.vertical a {
  color: #505050;
  flex-grow: 1;
  display: flex;
  text-align: left;
  padding: 0;
}

.tabbar.vertical a > span {
  display: flex;
  padding: 3px 5px;
  margin: 2px 5px;
  border: 1px solid transparent;
}

.tabbar.vertical a:hover {
  color: #0c0c0c;
  background-color: #F3F3F3;
}

.tabbar.vertical a:focus {
  background-color: #F3F3F3;
}

.tabbar.vertical a:focus > span {
  border-color: rgba(0,0,0,.25);
  box-shadow: inset 0 0 0 1px hsla(0,0%,100%,.7);
}

.tabbar.vertical a > span:after {
  font-family: 'selenium-ide' !important;
  color: rgb(163, 163, 163);
  font-size: 14px;
  margin: auto 3px auto 5px;
  height: 14px;
  content: "\e918";
}

.tabbar.vertical a:hover > span:after {
  color: #0c0c0c;
}
