.form-input {
  display: flex;
}

.form-input > label {
  font-size: 13px;
  width: 85px;
  display: inline-block;
  margin: 10px 0;
}

.form-input > *:last-child {
  flex-grow: 1;
  margin: 5px 0;
}
