{
  "presets": [
    [
      "env", {
        "targets": {
          "browsers": ["last 2 versions", "safari >= 7"]
        },
        "include": ["transform-es2015-arrow-functions", "es6.map"]
      }
    ],
    "react"
  ],
  "plugins": [
    ["react-hot-loader/babel",
    "babel-plugin-transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true
    }]
  ]
}
