{
  "presets": ["env",
    "react"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-decorators",
    ["transform-class-properties", { "loose": true }],
    "react-hot-loader/babel",
    ["babel-plugin-transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true
    }]
  ]
}
