{
  "presets": ["env",
    "react"
  ],
  "plugins": [
    ["transform-class-properties",
    "react-hot-loader/babel",
    "babel-plugin-transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true
    }]
  ]
}
