strict-peer-dependencies=false
# Shared tooling
public-hoist-pattern[]=@bazel*
public-hoist-pattern[]=@types*
public-hoist-pattern[]=*babel*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*jest*
public-hoist-pattern[]=*side-runner*
public-hoist-pattern[]=stylelint*
public-hoist-pattern[]=typescript*
public-hoist-pattern[]=electron
public-hoist-pattern[]=tsc
# Bad to hoist
hoist-pattern[]=!electron-chromedriver