.test-table {
  border-bottom: 1px #CECECE solid;
}

.test-table-body {
  overflow-y: auto;
}

.test-table table {
  width: 100%;
  border-spacing: 0;
}

.test-table th {
  position: relative;
  padding: 5px 0 5px 15px;
  font-size: 13px;
  text-align: left;
  width: 33%;
}

.test-table th:not(:last-child):after {
  content: "";
  height: 10px;
  width: 1px;
  background-color: #CECECE;
  position: absolute;
  right: 0;
  margin: auto;
  bottom: 0;
  top: 0;
}
