.btn {
  color: #000;
  background-color: #f5f5f5;
  padding: 10px 20px;
  margin: 5px 8px;
  border: 1px solid transparent;
  border-radius: 4px;
  text-transform: capitalize;
  box-shadow: inset -1px 1px 1px 0 transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.btn:hover {
  color: #333;
}

.btn:active {
  background-color: #eee;
  box-shadow: inset -1px 1px 1px 0 #cacaca;
}

.btn:disabled {
  color: rgba(0, 0, 0, 0.2);
  cursor: not-allowed;
}

.btn.icon {
  font-size: 22px;
  border: 1px solid #dcdcdc;
  background-color: white;
  padding: 5px 8px;
  border-radius: 2px;
}

.btn.icon:active {
  box-shadow: inset -1px 1px 1px 0 #ececec;
}

.btn.icon:hover:not(:disabled) {
  color: #539adf;
}

.btn.icon.active {
  background-color: #e3f2ff;
}

.btn.icon.active:active {
  box-shadow: inset -1px 1px 1px 0 #cacaca;
}

.btn.primary {
  color: #fff;
  background-color: #6fc8ea;
}

.btn.primary:hover {
  background-color: #58b7dc;
}

.btn.primary:active {
  background-color: #67c9ef;
  box-shadow: inset -1px 1px 1px 0 #53a4c3;
}

.btn.primary:disabled {
  background-color: #92d9f5;
}

.btn.secondary:hover {
  background-color: #e0e0e0;
}

.btn.danger {
  color: #fff;
  background-color: #ff6b6b;
}

.btn.danger:hover {
  background-color: #e2373f;
}

.btn.danger:active {
  background-color: #f3535a;
  box-shadow: inset -1px 1px 1px 0 #a72d43;
}
