.runs {
  padding: 15px 10px 0 10px;
  background-color: #fff;
}

.runs .status {
  padding: 10px 0 15px 0;
}

.runs .status > span {
  margin: 0 8px;
}

.runs .right {
  float: right;
}

.runs .left {
  float: left;
}

.runs .failures {
  color: #A62C26;
}
