.runs {
  padding: 15px 10px 0 10px;
  border-top: 1px solid #CECECE;
}

.runs > div {
  padding: 15px 0;
}

.runs .right {
  float: right;
}

.runs .left {
  float: left;
}

.runs .failures {
  color: #A62C26;
}
