.runs {
  padding: 15px 10px 0 10px;
  background-color: #fff;
  font-size: 12px;
}

.runs .status {
  padding: 10px 0 15px 0;
}

.runs .status > span {
  margin: 0 8px;
}

.runs .right {
  float: right;
}

.runs .left {
  float: left;
}
