.header {
  border-bottom: 1px solid #CECECE;
  padding: 7px 7px 7px 2px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.header > div:first-child {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.header .title {
  display: inline-block;
  border: 1px transparent solid;
  border-radius: 4px;
  font-size: 14px;
  line-height: 17px;
  padding: 3px 26px 3px 6px;
  font-weight: bold;
  cursor: pointer;
  min-width: 143px;
}

.header .title~i {
	font-weight: bold;
	font-size: 16px;
	margin-left: -20px;
  visibility: hidden;
}

.header:hover .title {
  border-color: #F3F3F3;
}

.header .title:focus {
  border-color: #CECECE;
  cursor: initial;
  outline: 0;
}

.header:hover .title~i {
  visibility: visible;
}

.header:focus-within .title~i {
  visibility: hidden;
}

.header.changed .title:after {
  content: "*";
}

.header .title:focus:after {
  content: " ";
}

.header .buttons {
  display: flex;
  align-items: center;
}

.header .buttons > * {
  margin-left: 10px;
}
