.header {
  border-bottom: 1px solid #CECECE;
  padding: 5px;
}

.header input {
  border-color: transparent;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

.header input:hover {
  border-color: #F3F3F3;
}

.header input:focus {
  border-color: #CECECE;
  cursor: initial;
}
