.btn-action {
  color: #505050;
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 1px 0;
  mask-repeat: no-repeat;
  border-style: none;
  font-size: 22px;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0;
}

.btn-action:hover {
  color: #40a6ff;
}

.btn-action:focus {
  box-shadow: inset 0 0 0 1px hsla(0, 0%, 100%, 0.7);
}

.btn-action.no-focus:focus {
  border-color: transparent;
  box-shadow: none;
}

.btn-action:active {
  color: #656565;
}

.btn-action:disabled {
  color: #a9a9a9;
}

.btn-action.active {
  background-color: #e3f2ff;
}
