table {
    width: 100%;
    empty-cells: show;
    table-layout: fixed;
}

thead, tbody {
    width: 100%;
}

th {
    line-height: 20px;
    text-align: left;
    border-bottom: 2px solid #a6a6a6;
    border-right: 1px solid #a6a6a6;
    background-color: #f7f7f7;
    cursor: default;
}

.command-command {
    width: 25%;
}

.target-command {
    width: 40%;
}

.value-command {
    width: 35%;
}

td {
    text-align: left;
    border-right: 1px solid #a6a6a6;
    cursor: default;
    overflow: hidden;
    white-space: nowrap;
}

.executing{
    background-color: #ffffe6;
}
.success{
    background-color: #e5ffe5;
}
.fail{
    background-color: #ffe5e5;
}

.even {
    background-color: #efefef;
}

.odd {
    background-color: #ffffff;
}

.selectedRecord {
    background-color: #2578fc;
    color: #ffffff;
}

.selectedCase {
    font-weight:bold;
    text-decoration:underline;
}

.selectedSuite {
    background-color: #eaecef;
}

#command-toolbar > div {
    height: 30px;
    border-bottom: 5px solid #b3b3b3;
}

#command-toolbar > div > div {
    float: left;
}

#command-toolbar > div > div:first-child {
    height: 30px;
    width: 80px;
    line-height: 30px;
}

#command-toolbar > div > div:nth-child(2) {
    height: 30px;
    width: calc(100% - 90px);
    line-height: 30px;
}

#command-command, #command-target, #command-value {
    width: 100%;
}

#testCase-grid div {
    cursor: pointer;
}

#testCase-grid > div {
    border-bottom: 3px solid #dbdde0;
    font-weight: bold;
}

#testCase-grid > div > div {
    margin-left: 20px;
    font-weight: normal;
}