.test-table {
  border-bottom: 1px #CECECE solid;
}

.test-table-body {
  overflow-y: auto;
}

.test-table table {
  width: 100%;
  border-spacing: 0;
}

.test-table td, th {
  padding: 5px 10px;
}

.test-table th {
  position: relative;
  font-size: 13px;
  text-align: left;
  flex: 0% 1 1;
}

.test-table th:first-child > * {
  padding-left: 12px;
}

.test-table th:nth-child(3) {
  flex: 22px 1 1;
}

.test-table th:not(:last-child):after {
  content: "";
  height: 10px;
  width: 1px;
  background-color: #CECECE;
  position: absolute;
  right: 0;
  margin: auto;
  bottom: 0;
  top: 0;
}
