.welcome-dialog {
  list-style: none;
}

.welcome-dialog .welcome-dialog__title {
  font-size: 14px;
  font-weight: bold;
}

.welcome-dialog .welcome-dialog__subtitle {
  font-size: 12px;
  font-weight: normal;
}

.welcome-dialog .welcome-dialog__options {
  position: relative;
  padding: 8px 0;
}

.welcome-dialog a,
.welcome-dialog a:visited,
.welcome-dialog .file-open label {
  text-decoration: none;
  color: #48aaff;
  cursor: pointer;
}

.welcome-dialog li {
  line-height: max(27px, 1.5em);
}

.welcome-dialog .file-open input {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  border: none;
  top: -1000px;
  left: -1000px;
}
