.labelled-input {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.labelled-input > input {
  font-size: 12px;
  line-height: max(17px, 1.5em);
  padding: 5px;
  border-color: rgba(0, 0, 0, 0.55);
}

.labelled-input > label {
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 1px 0 2px 0;
  color: rgba(0, 0, 0, 0.55);
}
