/* your custom css */

.fa-padding {
  padding-right: 5px;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

.home.mainContainer {
  padding: 0;
}

.center-image img {
  margin: 40px 0 0 250px;
}

img.logo {
  border: 1px solid #2d57a5;
}

.promoSection .promoRow .pluginRowBlock .pluginWrapper.buttonWrapper {
  padding: 3px 2px;
}

.promo {
  height: 50px;
  line-height: 50px;
  background-color: pink;
  color: black;
  text-align: center;
}
