.btn-action[class*='si-gauge-'] {
  position: relative;
  width: 40px;
  text-align: left;
  padding-left: 4px;
}

.btn-action[class*='si-gauge-'] i {
  transform: rotate(90deg);
  position: absolute;
  font-size: 8px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  height: 10px;
}
