.tabbar {
  background-color: #f3f3f3;
  padding: 0 5px;
  position: relative;
}

.tabbar ul li {
  display: inline-block;
}

.tabbar ul li.buttons {
  float: right;
}

.tabbar a {
  display: block;
  padding: 7px 10px 5px 10px;
  text-align: center;
}

.tabbar a:hover {
  background-color: #e5e5e5;
}

.tabbar a:focus {
  background-color: #e5e5e5;
  outline: 0;
}

.tabbar .underline {
  height: 2px;
  background-color: #40a6ff;
  transition: transform 150ms cubic-bezier(0, 0, 0.2, 1);
  position: absolute;
  bottom: 0;
}

.tabbar .unread::after {
  content: '';
  display: inline-block;
  height: 5px;
  width: 5px;
  margin: 2px 8px;
  background-color: #40a6ff;
  border-radius: 50%;
}
