body {
  font-family: system, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial sans-serif !important;
  color: #505050;
  margin: 0;
  max-width: 480px;
}

h1, h2, h3 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #505050;
  text-decoration: none;
}

a:visited {
  color: #505050;
}

.clear {
  clear: both;
}
