@font-face {
  font-family: 'selenium-ide';
  src:
    url('../assets/fonts/selenium-ide.ttf?t90jy9') format('truetype'),
    url('../assets/fonts/selenium-ide.woff?t90jy9') format('woff'),
    url('../assets/fonts/selenium-ide.svg?t90jy9#selenium-ide') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="si-"], [class*=" si-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'selenium-ide' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.si-open:before {
  content: "\e905";
}
.si-pencil:before {
  content: "\e919";
}
.si-step-down:before {
  content: "\e917";
}
.si-caret-wide:before {
  content: "\e918";
}
.si-gauge-6:before {
  content: "\e90c";
}
.si-gauge-5:before {
  content: "\e90e";
}
.si-gauge-4:before {
  content: "\e912";
}
.si-gauge-3:before {
  content: "\e913";
}
.si-gauge-2:before {
  content: "\e914";
}
.si-gauge-1:before {
  content: "\e915";
}
.si-search:before {
  content: "\e916";
}
.si-caret:before {
  content: "\e900";
}
.si-check:before {
  content: "\e910";
}
.si-add:before {
  content: "\e901";
}
.si-clear:before {
  content: "\e902";
}
.si-step-into:before {
  content: "\e903";
}
.si-info:before {
  content: "\e904";
}
.si-more:before {
  content: "\e911";
}
.si-play-all:before {
  content: "\e906";
}
.si-play:before {
  content: "\e907";
}
.si-pause:before {
  content: "\e908";
}
.si-remove:before {
  content: "\e909";
}
.si-code:before {
  content: "\e90a";
}
.si-save:before {
  content: "\e90b";
}
.si-select:before {
  content: "\e90d";
}
.si-stop:before {
  content: "\e90f";
}
