.container { 
  display: flex;
  flex-direction: column;
  height: stretch;
}

.container .wrapper, .container footer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.container footer .tabbar ~ div {
  flex-grow: 1;
}

.container .content {
  flex-grow: 1;
  display: flex;
  min-height: 0;
}
