.test {
  font-size: 13px;
  line-height: 24px;
  background-color: #fff;
}

.test:focus {
  outline: 0;
}

.test .name {
  display: flex;
  align-items: center;
  padding-left: 11px;
}

.test .name > span {
  flex-grow: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.test .name > button {
  font-size: 22px;
  width: 22px;
  height: 22px;
  opacity: 0;
  margin: 0;
  box-sizing: content-box;
}

.test:hover .name > button {
  opacity: 1;
}

.test > a {
  cursor: pointer;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.test > a:hover {
  background-color: var(--hover-color);
}

.test > a.selected {
  background-color: var(--selected-color);
}

.test:focus > a.selected {
  background-color: var(--active-color);
}

.test > a.executing {
  background-color: #e3f2ff;
}

.test.paused > a.executing {
  background-color: #fffcc5;
}

.test.paused:focus > a.selected.executing {
  border-top: 1px solid #d3d622;
  border-bottom: 1px solid #d3d622;
}

.test.changed .name > span::after {
  content: '*';
}
