input[type='checkbox'].checkbox {
  position: absolute;
  opacity: 0;
}

input[type='checkbox'].checkbox + label {
  display: block;
  cursor: pointer;
  padding: 5px 0;
}

.form-input input[type='checkbox'].checkbox + label {
  width: auto;
}

input[type='checkbox'].checkbox + label span {
  display: inline-block;
  background-color: #fff;
  color: #40a6ff;
  text-align: center;
  line-height: max(18px, 1.5em);
  font-size: 18px;
  width: 18px;
  height: 18px;
  margin: -2px 10px 0 0;
  vertical-align: top;
  cursor: pointer;
  border: 1px solid #dcdcdc;
  border-radius: 3px;
  box-shadow: inset 0 0 1px 1px transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

input[type='checkbox'].checkbox:focus + label span {
  outline: var(--selected-border-color) 1px solid;
}

input[type='checkbox'].checkbox:disabled + label span {
  color: rgba(128, 128, 128, 0.6);
  background-color: whitesmoke;
  border-color: whitesmoke;
  cursor: not-allowed;
}

input[type='checkbox'].checkbox:not(:disabled) + label:active span {
  background-color: #fdfdfd;
  box-shadow: inset 0 0 1px 1px #ececec;
}

input[type='checkbox'].checkbox + label > div {
  display: inline-block;
  width: 85px;
}
