.menu.content .buttons li a {
  display: block;
  cursor: pointer;
  padding: 10px 20px;
}

.menu.content .buttons li a:hover {
  background-color: #f3f3f3;
}

.menu.content .buttons li a .label {
  float: right;
  color: #929292;
}

.menu.content .buttons li hr {
  margin-left: 20px;
}
