.log .index {
  display: inline-block;
  width: 20px;
}

.log.notice {
  font-weight: bold;
}

.log.warn {
  color: #DC9914;
}

.log.error {
  color: #E80600;
}

.log.success.notice {
  color: #23843D;
}

.log.failure.notice {
  color: #E80600;
}

.log.success .message .status {
  color: #23843D;
}

.log.undetermined .message .status {
  color: #da920e;
}

.log.failure .message .status {
  color: #E80600;
}

.log .details {
  padding-left: 20px;
}

.log.failure .details {
  color: #E80600;
}

.log a:hover {
  text-decoration: underline;
}
