.log {
  margin: 7px 0;
}

.log .index {
  display: inline-block;
  width: 20px;
}

.log.notice {
  font-weight: bold;
}

.log .message:after {
  padding: 0 5px;
}

.log.success.notice {
  color: #23843D;
}

.log.error.notice {
  color: #E80600;
}

.log.success .message .status {
  color: #23843D;
}

.log.error .message .status {
  color: #E80600;
}

.log .error-message {
  padding-left: 20px;
  color: #E80600;
}

.log a:hover {
  text-decoration: underline;
}
