@font-face {
  font-family: 'selenium-icons';
  src:
    url('../fonts/selenium-icons.ttf?xwvxix') format('truetype'),
    url('../fonts/selenium-icons.woff?xwvxix') format('woff'),
    url('../fonts/selenium-icons.svg?xwvxix#selenium-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.si {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'selenium-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.si-add:before {
  content: "\e900";
  color: #505050;
}
.si-arrow-down:before {
  content: "\e901";
  color: #505050;
}
.si-folder:before {
  content: "\e902";
  color: #505050;
}
.si-step-over:before {
  content: "\e903";
  color: #505050;
}
.si-trash:before {
  content: "\e904";
  color: #505050;
}
.si-inspect:before {
  content: "\e905";
  color: #505050;
}
.si-play-single:before {
  content: "\e907";
  color: #505050;
}
.si-play-all:before {
  content: "\e908";
  color: #505050;
}
.si-pause:before {
  content: "\e909";
  color: #505050;
}
.si-edit-text:before {
  content: "\e90a";
  color: #505050;
}
.si-resource:before {
  content: "\e90b";
  color: #505050;
}
.si-select:before {
  content: "\e90c";
  color: #505050;
}
.si-setting:before {
  content: "\e90d";
  color: #505050;
}
.si-speed:before {
  content: "\e90e";
  color: #505050;
}
.si-find:before {
  content: "\e90f";
  color: #505050;
}
.si-test:before {
  content: "\e910";
  color: #505050;
}
.si-selenium-logo:before {
  content: "\e911";
}
