.btn {
  color: #656565;
  background-color: #F5F5F5;
  padding: 10px 20px;
  margin: 5px 8px;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: 0;
  text-transform: capitalize;
  box-shadow: inset -1px 1px 1px 0 transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.btn:hover {
  color: #333;
}

.btn:focus {
  border-color: rgba(0,0,0,.25);
}

.btn:active {
  background-color: #EEEEEE;
  box-shadow: inset -1px 1px 1px 0 #CACACA;
}

.btn:disabled {
  color: #A9A9A9;
  cursor: not-allowed;
}

.btn.icon {
  font-size: 22px;
  border: 1px solid #DCDCDC;
  background-color: white;
  padding: 5px 8px;
  border-radius: 2px;
}

.btn.icon:hover {
  color: #40A6FF;
}

.btn.icon:focus {
  border-color: #40A6FF;
}

.btn.icon:active {
  box-shadow: inset -1px 1px 1px 0 #ececec;
}

.btn.icon.active {
  border-color: #40A6FF;
  background-color: #E3F2FF;
}

.btn.icon.active:active {
  box-shadow: inset -1px 1px 1px 0 #CACACA;
}


.btn.primary {
  color: #FFF;
  background-color: #6fc8ea;
}

.btn.primary:hover {
  background-color: #58b7dc;
}

.btn.primary:active {
  background-color: #67c9ef;
  box-shadow: inset -1px 1px 1px 0 #53a4c3;
}

.btn.primary:disabled {
  background-color: #92d9f5;
}

.btn.secondary:hover {
  background-color: #E0E0E0;
}

.btn.danger {
  color: #FFF;
  background-color: #ff6b6b;
}

.btn.danger:hover {
  background-color: #e2373f;
}

.btn.danger:active {
  background-color: #f3535a;
  box-shadow: inset -1px 1px 1px 0 #a72d43;
}
