.test-table tr {
  padding: 10px 15px;
}

.test-table tbody tr {
  cursor: pointer;
}

.test-table tr {
  background-color: white;
}

.test-table tbody tr:hover {
  background-color: #F3F3F3;
}

.test-table tr.selected {
  background-color: #E3F2FF;
}

.test-table tr.pending {
  background-color: #EDFCFF;
}

.test-table tr.passed {
  background-color: #EDFFEF;
}

.test-table tr.failed {
  background-color: #FFEDEF;
}

.test-table td {
  font-size: 12px;
  padding: 5px 15px;
}

.test-table td:nth-child(1) {
  color: #8B8B8B;
}

.test-table td:nth-child(3) {
  width: 33%;
}

.test-table tr .buttons {
  padding: 0;
  margin: 0;
  opacity: 0;
}

.test-table tr:hover .buttons {
  opacity: 1;
}
