.test-table tbody tr {
  cursor: pointer;
}

.test-table tr {
  background-color: white;
}

.test-table tbody tr td {
  border-top: 1px solid transparent;
  border-collapse: separate;
  word-break: break-word;
}

.test-table tbody tr.pending {
  background-color: #FFFCC5;
}

.test-table tbody tr:hover {
  background-color: #F3F3F3;
}

.test-table tbody tr.selected {
  background-color: #E3F2FF;
}

.test-table tbody tr:focus {
  outline: 0;
}

.test-table tbody tr:focus td {
  border-top: 1px solid #75BFFF;
}

.test-table tbody tr td:first-child {
  position: relative;
}

.test-table tbody tr.pending td:first-child span:first-child {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid #505050;
}

.test-table tbody tr td:first-child span:nth-child(2) {
  margin-right: 5px;
}

.test-table tbody tr.passed td {
  color: #008425;
}

.test-table tbody tr.failed td {
  color: #E80600;
}

.test-table tr {
  display: flex;
}

.test-table tr td:not(:last-child) {
  flex: 0% 1 1;
}

.test-table td {
  font-size: 12px;
}

.test-table td .index {
  display: inline-block;
}

.test-table td .command {
  display: inline-block;
}

.test-table td:nth-child(1) {
  color: #8B8B8B;
  padding: 5px 10px;
  display: flex;
  align-items: start;
}

.test-table td:nth-child(2) {
  width: 30%;
}

.test-table td:nth-child(3) {
  width: 39%;
}

.test-table td:nth-child(4) {
  width: 22px;
}

.test-table tr .buttons {
  padding: 0;
  margin: 0;
}

.test-table tr .buttons > * {
  min-height: 24px;
  opacity: 0;
  height: 100%;
}

.test-table tr .buttons button {
  width: 22px;
  height: 22px;
  font-size: 20px;
  height: 100%;
  margin: auto 0;
}

.test-table tr:hover .buttons > * {
  opacity: 1;
}
