.row {
  font-size: 12px;
  text-align: center;
  display: table-row;
}

.row .cell {
  word-break: break-all;
  display: table-cell;
  padding: 2px 1px;

}

.row .storedKey {
  float: left;
  padding: 0;
  width: 48%;
  text-align: right;
}

.row .col {
  float: left;
  padding: 0;
  width: 4%;
  text-align: center;
}

.row .storedVar {
  float: left;
  padding: 0;
  width: 48%;
  text-align: left;
  box-shadow: 0 0 0 1px transparent inset;
}

.row .storedVar .value {
  border-radius: 4px;
}

.row .storedVar .value:hover {
  box-shadow: 0 0 0 1px #CECECE inset;
}

.row .storedVar .value:focus {
  box-shadow: 0 0 0 1px #A8A8A8 inset;
  cursor: initial;
  outline: 0;
}

.row .valDel {
  text-align: right;
  width: 40px;
}

.deleteBtn {
  font-size: 14px;
}
