.speed-gauge {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.speed-gauge span {
  font-size: 11px;
}

.rc-slider {
  margin: 8px 0;
  height: 150px;
}

.rc-slider-rail {
  background-color: #d8d8d8;
}

.rc-slider-handle {
  background: #fff;
  border: 1px solid #979797;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.17);
}

.rc-slider-handle:focus {
  box-shadow: 0 0 5px #57c5f7;
}
