.test-table {
  border-bottom: 1px #cecece solid;
}

.test-table-body {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.test-table table {
  width: 100%;
  border-spacing: 0;
}

.test-table td,
.test-table th {
  padding: 5px 10px;
}

.test-table th {
  position: relative;
  font-size: 13px;
  text-align: left;
  flex: 0% 1 1;
}

.test-table th:first-child {
  margin-left: 47px;
}

.test-table th:last-child {
  margin-right: 22px;
}

.test-table th:not(:last-child)::after {
  content: '';
  height: 10px;
  width: 1px;
  background-color: #cecece;
  position: absolute;
  right: 0;
  margin: auto;
  bottom: 0;
  top: 0;
}

.test-table .filler {
  border-right: 1px #cecece solid;
  width: 37px;
  padding: 5px;
  flex-grow: 1;
}
