.search {
  flex-grow: 1;
  margin: 6px;
  display: block;
  font-size: 11px;
}

.search ~ label {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 8px;
  margin: auto 0;
  font-size: 18px;
  height: 18px;
  color: #656565;
}
