.toolbar {
  display: flex;
  align-items: center;
  padding-left: 2px;
  border-bottom: 1px solid #f3f3f3;
}

.toolbar > button {
  margin: 2px 7px;
}

.toolbar > .flexer {
  flex-grow: 1;
}

.toolbar > .sep {
  border-left: 1px solid #f3f3f3;
  height: 22px;
  padding-right: 4px;
}
