.btn-action.si-gauge {
  position: relative;
  padding-right: 8px;
}

.btn-action.si-gauge i {
  transform: rotate(90deg);
  position: absolute;
  font-size: 8px;
  top: 0;
  bottom: 0;
  margin: auto 0px;
  height: 10px;
}
