.value-header {
  display: table-header-group;
  background: #FFFFFF;
  border-bottom: 2px solid #5B5B5B;
  font-size: 12px;
  font-weight: bold;
  color: #5B5B5B;
  text-align: left;
}

.value-header div {
  display: table-cell;
  padding: 3px 2px;
}

.value-list {
  display: table-row-group;
}

.variables {
  display: table;
  border: 2px solid #FFFCFE;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  max-width: 255px;
}

.storeContainer  {
  padding: 0 10px;
  overflow-y: auto;
  overflow-x: hidden;
}
