.value-list {
  display: table-row-group;
}

.variables {
  display: table;
  border: 2px solid #FFFCFE;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  max-width: 255px;
}

.storeContainer  {
  padding: 0 10px;
  overflow-y: auto;
  overflow-x: hidden;
}
