.variable {
  font-size: 12px;
  word-break: break-all;
  display: flex;
}

.variable:hover {
  background-color: #F3F3F3;
}
.variable .name, .variable .value {
  float: left;
  padding: 5px;
  width: 48%;
  text-align: left;
}

.variable .edit {
  padding: 0;
  line-height: 14px;
  width: 100%;
}

.variable:hover .deleteBtn {
  opacity: 1;
}

.variable .editable:focus {
  border: 1px #DCDCDC solid;
  cursor: initial;
  outline: 0;
}

.variable .del {
  width: 4%;
}

.deleteBtn {
  font-size: 15px;
  opacity: 0;
  height: 20px;
}
