.project .title:before {
  content: '';
  display: inline-block;
  width: 20px;
  text-align: center;
  font-weight: bold;
}
.project > a.passed .title:before{
  content: '✓';
}
.project a.failed .title:before {
  content: '✗';
}

.project {
  padding-left: 7px;
  margin-left: 2px;
  display: flex;
}

.project > a {
  display: flex;
  align-items: center;
  padding: 7px 0;
  border-bottom: 1px transparent solid;
  flex-grow: 1;
  min-width: 0;
}

.project > a .title {
  padding: 0 6px;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.project > a .title.changed::after {
  content: '*';
}

.project > a .si-caret {
  font-size: 10px;
  color: #505050;
  display: inline-block;
  transform: rotate(0deg);
  transition: all 100ms linear;
}

.project > a.active .si-caret {
  color: #40a6ff;
  transform: rotate(90deg);
}

.project button {
  opacity: 0;
  align-self: center;
}

.project:hover button {
  opacity: 1;
}

.project:focus button {
  opacity: 1;
}

.projects .test > button {
  font-size: 18px;
}

.projects .tests {
  overflow-y: hidden;
}
