.btn-action {
  color: #656565;
  padding: 3px;
  margin: 2px 5px;
  outline: 0;
  mask-repeat: no-repeat;
  border-style: none;
  font-size: 24px;
  background-color: transparent;
}

.btn-action:hover {
  color: #333333;
}

.btn-action:active {
  color: #656565;
}

.btn-action:disabled {
  color: #A9A9A9;
}

.btn-action.active {
  background-color: #E3F2FF;
}
