.record {
  padding-right: 5px;
}

.si-record {
  color: #ec2f2a;
  animation: none;
}

.si-record:hover {
  color: #f56660;
}

.si-record.active::before {
  animation: fadeIn 500ms infinite alternate;
  background: red;
  width: 8px;
  height: 8px;
  display: block;
  margin: auto;
  content: "";
}

@keyframes fadeIn {
  from { opacity: 0.3; }
}
