.si-record {
  color: #ec2f2a;
  animation: none;
}

.si-record:hover {
  color: #f56660;
}

.si-record.active {
  background-color: transparent;
}

.si-record.active::before {
  animation: fadeIn 1s infinite alternate;
}

@keyframes fadeIn {
  from { opacity: 0; }
}
