.record {
  padding-right: 5px;
}

.si-record {
  color: #b00000;
  animation: none;
}

.si-record:hover {
  color: #de2a00;
}

.si-record.active::after {
  animation: fadeIn 500ms infinite alternate;
  border: red 4px solid;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -4px -4px;
  width: 0;
  height: 0;
  content: '';
}

@keyframes fadeIn {
  from {
    opacity: 0.3;
  }
}
