.tests {
  max-height: 0;
  overflow: hidden;
  transition: max-height 300ms linear;
  list-style: none;
  padding: 0 0 0 10px;
}

.tests.active {
  max-height: 500px;
  transition: max-height 400ms linear;
}

.tests li {
  margin: 7px 0;
}
